# IDE
.idea

# build files
cmake-build-debug/

# test files
ance_output/
ance_proj/

# antlr
antlr/
/src/grammar/ance.interp
/src/grammar/ance.tokens
/src/grammar/anceLexer.interp
/src/grammar/anceLexer.tokens
